.bodyFill {
  background: rgb(224, 224, 224);
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-top: 70px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toDoScreen {
  width: 750px;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
}

.mainTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  max-height: 60px;
  width: auto;
}

h1 {
  font-size: 50px;
  font-family: Monospace;
  color: rgb(96, 96, 96);
}

.addTaskBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 670px;
  height: 40px;
  border: 2px solid #2c94c5;
}

.addTaskInput {
  width: 630px;
  height: 40px;
  border: transparent;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  font: italic 18px Monospace, sans-serif;
  padding-block: 0px;
}

.addTaskInput:focus {
  border-color: #2c94c5;
  outline: none; 
  background-color: rgb(235, 255, 232);
}

.add-btn {
  width: 40px;
  height: 40px;
  font: 30px Times New Roman;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-position: center center;
  box-sizing: border-box;
  padding: 0px;
  padding-left: 0px;
  margin: 0px;
  border: 2px solid #2c94c5;
  border-left: 4px solid #2c94c5;
  background: #40c52c;
  color: rgb(255, 255, 255);
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  padding-left: 0px;
  
}

.taskList :hover {
  box-shadow: 0 4px 8px 0 rgb(231 218 218 / 20%),
    0 6px 20px 0 rgb(229 214 214 / 19%);
  background-color: #f6f1f1;
}

.taskToDoBlock {
  background: #f0f9ff;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  border: 1px solid #2c94c5;
  width: 672px;
}

.priorityBlock {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.priorityImage {
  width: 30px;
  height: 30px;
}

.priorityModal {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.priorityModalContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.priorityIcon {
  width: 45px;
  height: 45px;
}

.prioritySelectedIcon {
  width: 30px;
  height: 30px;
}

.categoryBlock {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.categoryImage {
  width: 30px;
  height: 30px;
}

.categoryModal {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.categoryModalContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.categoryIcon {
  width: 45px;
  height: 45px;
}

.categorySelectedIcon {
  width: 30px;
  height: 30px;
}

.checkbox {
  width: 30px;
  height: 30px;
}

.toDoTextBlock {
  width: 470px;
  padding-left: 10px;
  margin: 0px;
  margin-left: 5px;
  font: italic 18px Monospace;
  overflow: hidden;
  display: inline-block;
  word-wrap: break-word;
  line-height: 1.5;
}

.checkbox:checked ~ .toDoTextBlock {
  text-decoration: line-through; /* Add line-through when checkbox is checked */
}

.deleteButton {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-image: url("images/delete.png");
  background-size: cover; /* Adjust background size */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center; /* Center the image */
  border: none; /* Remove default border */
  cursor: pointer;
  background-color: transparent;
}

.deleteButton:hover {
  width: 30px;
  height: 30px;
  background-image: url("images/deleteHover.png");
  background-size: cover; /* Adjust background size */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center; /* Center the image */
  border: none; /* Remove default border */
  cursor: pointer;
  background-color: transparent;
}

.editButton {
  width: 30px;
  height: 30px;
  margin-left: auto;
  background-image: url("images/edit.png");
  background-size: cover; /* Adjust background size */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center; /* Center the image */
  border: none; /* Remove default border */
  cursor: pointer;
  background-color: transparent;
}

.editButton:hover {
  width: 30px;
  height: 30px;
  background-image: url("images/editHover.png");
  background-size: cover; /* Adjust background size */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center; /* Center the image */
  border: none; /* Remove default border */
  cursor: pointer;
  background-color: transparent;
}

.editInput {
  width: 460px;
  padding-left: 10px;
  margin: 0px;
  margin-left: 5px;
  font: italic 18px Monospace;
  display: inline-block;
  word-wrap: break-word;
  line-height: 1.5;
}

.editInput:focus {
  border: none;
  outline: none; /* Remove the default outline when the input is focused */
  background: #ffffff;
  margin-left: 5px;
  display: inline-block;
  word-wrap: break-word;
}
